:root {
    --azul: #349eeb;
    --azul-oscuro: #0575c5;
    --verde: #8ee388;
    --verde-oscuro: #68cf61;
    --rojo: #eb4a31;
    --fondo: #f4f7fc;
    --violeta: #7541cc;
    --violeta-oscuro: #3c0b8f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prompt', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

svg {
    width: 20px;
    margin-right: 15px;
}


/* - Agregar entrenamiento - */

#formEntrenamiento {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    place-items: center;
}

.cerrarForm {
    display: none !important;
}

.abrirForm {
    display: grid !important;
}

#formEntrenamiento h1 {
    font-size: 25px;
}

#formEntrenamiento form div:last-child {
    display: flex;
}

#formEntrenamiento form div:last-child button,
#formEntrenamiento form div:last-child input {
    width: 100px;
}


/* - Registro - */

#registro {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1568&q=80');
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}

#contenedorForm {
    background-color: rgba(0, 0, 0, .7);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.bgBlanco {
    background-color: white !important;
}

.bgBlanco h1 {
    color: var(--azul);
}

form {
    text-align: center;
}

#contenedorForm form div {
    position: relative;
    margin: 35px auto;
    line-height: 36px;
    width: 80%;
}

#nombre,
#email,
#pass,
#confirmar,
#minutos,
#txtPeso,
#tipo,
#altura {
    background-color: transparent;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 36px;
    border: none;
    border-bottom: 1px solid var(--azul);
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px;
    font-family: 'Prompt', sans-serif;
}

#tipo,
#minutos,
#txtPeso {
    color: black;
}

#contenedorForm form input:focus~label,
#contenedorForm form input:not(:focus):valid~label {
    top: -20px;
    left: 10px;
    font-size: 11px;
    opacity: 1;
    color: var(--azul);
}

label {
    color: white;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 0px;
    transition: 0.2s ease all;
}

.txtNegro {
    color: black;
}

.advertencia {
    color: red;
}
input[type="submit"],
#formEntrenamiento form div:last-child button {
    background-color: var(--azul);
    color: white;
    border: none;
    cursor: pointer;
    outline: 0;
    padding: 8px 12px;
    font-size: 15px;
    border-radius: 5px;
    transition: .3s all;
    display: block;
    margin: 0 auto 10px;
}

#formEntrenamiento form div:last-child button {
    background-color: var(--rojo);
}

#formEntrenamiento form div:last-child input {
    background-color: var(--verde);
}

input[type="submit"]:hover {
    background-color: var(--azul-oscuro);
}

form a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .3s all;
}

form a:hover {
    color: var(--azul-oscuro);
}


/*Inicio*/

nav {
    background-color: var(--azul);
    width: 16%;
    height: 100vh;
    position: fixed;
    left: 0;
    display: grid;
}

nav div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

nav div:nth-child(2) a {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    outline: 0;
    cursor: pointer;
    margin-bottom: 30px;
    text-decoration: none;
}

nav div:nth-child(2) a svg {
    width: 20px;
    margin-right: 5px;
}

nav ul {
    margin-top: 30px;
    list-style: none;
    text-align: center;
}

nav ul li:nth-child(1) {
    text-align: center;
    margin-bottom: 40px;
}

nav ul li a {
    padding: 10px 10%;
    color: white;
    text-decoration: none;
    display: block;
    transition: .3s all;
    display: flex;
}

nav ul li a:hover {
    background-color: var(--azul-oscuro);
}

nav img {
    height: 10vh;
}

#agregar {
    background-color: var(--verde);
    outline: 0;
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px 0;
    width: 80%;
    border-radius: 5px;
    transition: .3s all;
}

#agregar:hover {
    background-color: var(--verde-oscuro);
}


/* - Main - */

#bienvenida {
    /* grid-area: bienvenida; */
    background-image: linear-gradient(var(--violeta), var(--violeta-oscuro));
    color: white;
    display: grid;
}

#bienvenida p {
    margin: 10px 30px;
    font-size: 15px;
    font-weight: 400;
}

#bienvenida p:nth-child(1) {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

#bienvenida p span {
    font-size: 20px;
    font-weight: 500;
}

#mensaje {
    color: var(--verde);
}

#componenteChico {
    display: grid;
    row-gap: 10px;
    background-color: var(--fondo);
}

#componenteChico div {
    background-color: white;
}

#cantEntrenamientos {
    /* grid-area: cantEntrenamientos; */
    background-image: linear-gradient(var(--azul), var(--azul-oscuro));
    color: white;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 10px;
    grid-template-rows: 1fr 2fr;
}

#cantEntrenamientos p:nth-child(2) {
    font-size: 60px;
}

#imc {
    /* grid-area: imc; */
    padding: 10px;
}

#imc p,
#graficaminEntrenamientos p,
main #peso p {
    text-align: center;
    font-size: 18px;
}

#listaEntrenamientos {
    padding: 0 !important;
    /* grid-area: listaEntrenamientos; */
}

#listaEntrenamientos table {
    width: 100%;
}

#minEntrenamientos {
    /* grid-area: minEntrenamientos; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
}

main {
    background-color: var(--fondo);
    display: grid;
    padding: 10px 10px 10px calc(16% + 10px);
    width: calc(84% - 20px);
    min-height: calc(100vh - 20px);
    grid-gap: 20px;
    /* grid-template-areas: 'bienvenida bienvenida peso imc imc imc' 'bienvenida bienvenida cantEntrenamientos imc imc imc' 'listaEntrenamientos listaEntrenamientos minEntrenamientos minEntrenamientos minEntrenamientos minEntrenamientos' 'listaEntrenamientos listaEntrenamientos minEntrenamientos minEntrenamientos minEntrenamientos minEntrenamientos'; */
    /* grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr; */
    grid-template-columns: 2fr 1fr 3fr;
}

main div {
    border-radius: 10px;
    background-color: white;
}

#listaEntrenamientos table,
#listaMinEntrenamientos table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

#listaEntrenamientos table tr,
#listaMinEntrenamientos table tr {
    height: 30px;
}

#listaEntrenamientos table tr:nth-child(1),
#listaMinEntrenamientos table tr:nth-child(1) {
    background-color: var(--azul);
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

#listaMinEntrenamientos table tr:nth-child(1) {
    background-color: var(--violeta);
}

#listaEntrenamientos table tr:nth-child(2n+2),
#listaMinEntrenamientos table tr:nth-child(2n+2) {
    background-color: #f7f7f7;
}

#listaEntrenamientos table button {
    background: transparent;
    border: none;
    transform: translateY(3px);
    cursor: pointer;
    transition: .2s all;
    outline: 0;
}

#listaEntrenamientos table button:hover {
    color: var(--rojo);
}

#listaEntrenamientos table button svg {
    width: 18px;
}